 .hero-banner {
  // background: url(../images/banner/mountains.jpg);
  // background: url(../images/banner/winding.jpg);
  // background: url(../images/banner/spacex.jpg);
  // background: url(../images/banner/ice.jpg);
  background: url(../images/banner/dark-ice.jpg);
  // background: url(../images/banner/waterWays.jpg);
  // background: url(../images/banner/cliff.jpg);
  // background: url(../images/banner/lone-land.jpg);

  // background-image: url(../images/banner/slides/slc-min-blue12-min.jpg);
  // background: url(../images/banner/blue-painting.jpg);
  // background: url(../images/banner/slc.jpg);
  // background: url(../images/banner/net-water.jpg);
  // background-image: url(../images/banner/slides/slc-min-blue12-2nd.jpg);
  height: 100vh;
  width: auto;
  z-index: 99;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-gradient {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;

  background: linear-gradient(to right, rgba(23,181,255,.8),rgba(23,181,255,.1));

  // background: linear-gradient(to right, rgba(71,186,255,0.9),rgba(6,240,220,.7));

  // background: rgba(71,186,255,0.8);
  // background: linear-gradient(to right, rgba(71,186,255,0.8),rgba(6,190,86,.7));

  // background: linear-gradient(to right, rgba(115,154,247,0.7),rgba(81,88,80,0.7));

  // background: linear-gradient(to right, rgba(187,222,251,0.9),rgba(67,132,129,0.9));
  // background: linear-gradient(to right, rgba(191,189,244,0.8),rgba(13, 186, 177,0.8));
}
