.hero-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  // background-image: url(../images/banner/slides/orange-mockup-light.jpg);
  // background-image: url(../images/banner/slides/greencode.png);
  background-image: url(../images/banner/slides/slc.jpg);
  // background-image: url(../images/banner/slides/pineapple-darkblue-banner.jpg);
  height: 100vh;
  width: auto;
  z-index: 0;
  // background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*=== image for laptop screen size ===*/
  // background-image: url(../img/new-code/pineapple-supply-co-v1-blue_green-v1-1440px-dark.jpg);/*
/*=== background immages for caruosel ===*/
  /*background-image: url(../img/new-code/orange-mockup.jpg);*/
  /*background-image: url(../img/new-code/green-code-smooth-constrast.jpg);*/
