.hero-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // background-image: url(../images/banner/slides/pineapple-darkblue-banner-narrow-LT-greener.jpg);
  background-image: url(../images/banner/slides/pineapple-darkblue-banner.jpg);
  // background-image: url(../images/banner/slides/redcode.png);
  // background-image: url(../images/banner/slides/yellow-mockup.jpg);
  // background-image: url(../images/banner/slides/slc.jpg);
  height: 85vh;
  width: auto;
  z-index: 0;
  // background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*=== image for laptop screen size ===*/
  // background-image: url(../img/new-code/pineapple-supply-co-v1-blue_green-v1-1440px-dark.jpg);/*
