.bio-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  height: 600px;
  width: 100vw;
  /*background-color: #ABABAB;*/
  /*background-color: #e7f5fe;*/
  /*background-color: #E4E4E4;*/
}
