.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
.no-view-project-button {
  display: block;
  height: 27px;
  width: auto;
  background: none;
}
.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  // border: 1px solid rgba(0,0,0,.125);
  width: 320px;
  // border-radius: 10px;
  margin: 30px;
  // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.card-img {
  height: 90%;
  width: 90%;
  display: block;
  // border-top-left-radius: calc(.25rem - 1px);
  // border-top-right-radius: calc(.25rem - 1px);
  vertical-align: middle;
  // border-style: none;
  border-radius: 16px;
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
  // margin-bottom: 10px;
}

.emergent-card {
  border: 2px solid #e0e0e0;
  // border: 2px solid #f1f1f1;
}

.card-content-wrapper {
  margin: 30px 0px;
}
.card-content-stack {
  color: #778899;
  line-height: 1.2;
  font-size: .85em;
  padding: 0;
  font-family: 'Montserrat Bold', sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
.card-content {
  color: #778899;
  line-height: 1.2;
  font-size: .85em;
  font-family: 'Montserrat Light', sans-serif;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}
.view-project-link-container{
}
.view-project-link-container:hover {
  background-color: #6d6dff;
}

.view-project-link {
  color: #5D5DFF;
  font-family: 'Montserrat Bold', sans-serif;
  font-size: 0.75em;
  letter-spacing: 1px;
  transition: all .2s ease-in-out;
  // padding: 24px;
  text-align: right;
  margin-right: 15px;
}

.view-project-proj-link {
  align-items: flex-end;
  display: inline-block;
  color: #fff;
  background: #6d6dff;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
  letter-spacing: 1px;
  transition: all .2s ease-in-out;
  padding: 7px 21px 7px 21px;
  text-align: right;
  // margin-right: 15px;
  border-radius: 50px;
  width: auto;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
.view-project-proj-link:hover {
  background-color: #5D5DFF;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
/********** END 20 ************/
//
// .card {
//   position: relative;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   min-width: 0;
//   word-wrap: break-word;
//   background-color: #fff;
//   background-clip: border-box;
//   // border: 1px solid rgba(0,0,0,.125);
//   width: 300px;
//   border-radius: 10px;
//   margin: 30px;
//   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
// }
//
// .card-img {
//   height: 100%;
//   width: 100%;
//   display: block;
//   // border-top-left-radius: calc(.25rem - 1px);
//   // border-top-right-radius: calc(.25rem - 1px);
//   vertical-align: middle;
//   border-style: none;
//   // border-radius: 10px;
//   border-top-right-radius: 10px;
//   border-top-left-radius: 10px;
//   // margin-bottom: 10px;
// }
// .card-img2 {
//   height: 100%;
//   width: 100%;
//   display: block;
//   // border-top-left-radius: calc(.25rem - 1px);
//   // border-top-right-radius: calc(.25rem - 1px);
//   vertical-align: middle;
//   border-style: none;
//   // border-radius: 10px;
//   border-top-right-radius: 10px;
//   border-top-left-radius: 10px;
//   // margin-bottom: 10px;
// }
//
//
// .card-container {
//   // margin: 25px 15px;
// }

// .card-header {
//   color: rgb(100,100,100);
//   line-height: 1;
//   font-size: .85em;
//   font-family: 'Montserrat Bold', sans-serif;
//   margin-bottom: 5px;
// }
//
// .card-content-wrapper {
//   margin: 25px 15px;
// }

// .card-content {
//   color: #778899;
//   line-height: 1.2;
//   font-size: .85em;
//   font-family: 'Montserrat Light', sans-serif;
//   padding: 0;
// }

// .card-content span {
//   font-family: 'Montserrat Bold', sans-serif;
// }
//
//
//
// .who-content {
//   margin-bottom: 20px;
// }

// .view-project-link-container{
//   background-color: #5D5DFF;
//   border-bottom-right-radius: 10px;
//   border-bottom-left-radius: 10px;
//   // justify-content: flex-end;
// }
//
//
//
// // .view-project-link-container-light {
// //   background-color: rgb(125,125,255);
// //   border-bottom-right-radius: 10px;
// //   border-bottom-left-radius: 10px;
// //   // justify-content: flex-end;
// // }
//
// .view-project-link-container:hover {
//   background-color: #6d6dff;
// }
//
// .view-project-link-container-top{
//   background-color: #5D5DFF;
//   border-radius: 0;
//   // justify-content: flex-end;
// }
// // .view-project-link-container-light {
// //   background-color: rgb(125,125,255);
// //   border-bottom-right-radius: 10px;
// //   border-bottom-left-radius: 10px;
// //   // justify-content: flex-end;
// // }
//
// .view-project-link-container-top:hover {
//   background-color: #6d6dff;
// }
//
// .view-project-link-top {
//   color: #fff;
//   font-family: 'Montserrat Light', sans-serif;
//   font-size: 0.65em;
//   letter-spacing: 1px;
//   transition: all .2s ease-in-out;
//   padding: 7px;
//   text-align: right;
// }
// .view-project-link {
//   color: #fff;
//   font-family: 'Montserrat Light', sans-serif;
//   font-size: 0.85em;
//   letter-spacing: 1px;
//   transition: all .2s ease-in-out;
//   padding: 24px;
//   text-align: right;
// }
//
//
// // .view-project-link-right {
// //   color: #6d6dff;
// //   font-family: 'Montserrat', sans-serif;
// //   font-size: 0.85em;
// //   letter-spacing: 1px;
// //   transition: all .2s ease-in-out;
// //   // padding: 20px;
// //   margin-top: 20px;
// //   text-align: right;
// // }
// //
// // a .view-project-link-right-container {
// //   display: flex;
// //   flex-flow: row wrap;
// //   justify-content: flex-end;
// //   align-items: flex-end;
// // }
