@font-face {
  font-family: 'Julius Sans One';
  src: url(../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat Thin';
  src: url(../fonts/Montserrat/Montserrat-Thin.otf);
}

@font-face {
  font-family: 'Montserrat Extra Light';
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.otf);
}

@font-face {
  font-family: 'Montserrat Light';
  src: url(../fonts/Montserrat/Montserrat-Light.otf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.otf);
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.otf);
}

@font-face {
  font-family: 'Montserrat Alternates Thin';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Thin.otf);
}

@font-face {
  font-family: 'Montserrat Alternates Light';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Light.otf);
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Regular.otf);
}

@font-face {
  font-family: 'Montserrat Alternates Bold';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Bold.otf);
}
