.footer-wrapper {
  background-color: #43A3FF;
}

.footer-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /*padding: 5em 5em;*/
  height: 200px;
  // width: 100%;
  color: #fff;
  margin: 0px;
  // padding: 25px;
}

.footer-logo {
  height: 55px;
  width: auto;
  margin-bottom: 30px;
  // margin: 0 50px 0 0;
}

.copy {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  margin: 0px;
  padding: 20px;
  font-size: .55em;
  font-family: 'Montserrat-Light';
  color: #fff;
  // width: 100%;
  text-align: center;
  background-color: #00c3ff;
}

.logo-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  padding: 0;
  margin: 0;
}
