.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*padding: 5em 5em;*/
  height: 300px;
  width: 100%;
  background-color: #00c3ff;
  font-size: 1em;
  font-family: monospace;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.footer-logo {
  height: 45px;
}

.made-by-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 15px;
  font-size: .95em;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0px;
}
