.header-container {
  width: 100vw;
  margin-bottom: 50px;
}

.title {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 200;
  line-height:normal;
}

.name {
  font-size: 2em;
  margin: 0px;
}

.dev {
  font-size: 5em;
  font-weight: bold;
  margin: .5em .5em;
}

.dev-type {
  font-size: 1.5em;
  margin: 0px;
}
