.header-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  color: #fff;
  padding: 70px 30px;
  // height: 90vh;
  // opacity: 50%;
  // padding: 25px;
  // margin-top: 50px;
  // border: 1px solid #fff;
  margin-top: 55px;
  // background-color: rgba(255,255,255,0.15);
  width: 100vw;
  // box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}

// .hover-magic {
//   transition: 1s ease;
// }
//
// .hover-magic:hover {
//   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
// }

.title-one {
  font-size: 2.5em;
  font-family: 'Montserrat Thin', sans-serif;
  line-height:normal;
  padding: 0;
  // text-align: center;
}

.sub-title-one p {
  font-size: 1.25em;
  font-family: 'Montserrat Thin', sans-serif;
  margin: 0 0 10px 0;
}

.sub-title-one p span {
  font-family: 'Montserrat Light', sans-serif;
}

.title-two {
  font-size: 2.5em;
  font-family: 'Montserrat Thin', sans-serif;
  line-height: normal;
  padding: 0px;
  // text-align: center;
}

.sub-title-two p {
  font-size: 1.25em;
  font-family: 'Montserrat Thin', sans-serif;
}

.sub-title-two p span {
  font-family: 'Montserrat Light', sans-serif;
}
@media only screen and (min-width: 481px) {

  .header-container {
    padding: 80px 40px;
    margin-top: 75px
  }

  .title-one {
    font-size: 4.75em;
    font-family: 'Montserrat Thin', sans-serif;
  }

  .sub-title-one p {
    font-size: 2.5em;
  }

  .title-two {
    font-size: 4.75em;
    font-family: 'Montserrat Thin', sans-serif;
  }

  .sub-title-two p {
    font-size: 2.5em;
  }

}

// @media only screen and (min-width: 769px) {

  // .header-container {
  //   padding: 50px 100px;
  //   // border: 1px solid #fff;
  // }
  //
  // .title-one {
  //   font-size: 8.5em;
  //   font-family: 'Montserrat Light', sans-serif;
  // }
  //
  // .sub-title-one p {
  //   font-size: 3.25em;
  // }
  //
  // .title-two {
  //   font-size: 8.5em;
  //   font-family: 'Montserrat Light', sans-serif;
  // }
  //
  // .sub-title-two p {
  //   font-size: 3.25em;
  // }

// }

@media only screen and (min-width: 1125px) {

  .header-container {
    padding: 50px 100px;
    // border: 1px solid #fff;
  }

  .title-one {
    font-size: 8.5em;
    font-family: 'Montserrat Light', sans-serif;
  }

  .sub-title-one p {
    font-size: 3.25em;
  }

  .title-two {
    font-size: 8.5em;
    font-family: 'Montserrat Light', sans-serif;
  }

  .sub-title-two p {
    font-size: 3.25em;
  }

}






//   .title-one {
//     font-size: 2.5em;
//   }
//
//   .sub-title-one p {
//     font-size: 1.25em;
//     font-family: 'Montserrat Extra Light', sans-serif;
//     margin: 0 0 20px 0;
//   }
//
//   .sub-title-one p span {
//     font-family: 'Montserrat', sans-serif;
//   }
//
//   .title-two {
//     font-size: 2.5em;
//     font-family: 'Montserrat Thin', sans-serif;
//     line-height: normal;
//     padding: 0px;
//     text-align: center;
//   }
//
//   .sub-title-two p {
//     font-size: 1.25em;
//     font-family: 'Montserrat Extra Light', sans-serif;
//   }
//
//   .sub-title-two p span {
//     font-family: 'Montserrat', sans-serif;
//   }
// }
/****************************/


//   .title-one p {
//     font-size: 1em;
//     font-family: 'Montserrat Light', sans-serif;
//   }

  // .sub-title-one p {
  //   font-size: 1em;
  // }

  // .title-two p {
  //   font-size: 1em;
  //   font-family: 'Montserrat Light', sans-serif;
  // }

  // .sub-title-two p {
  //   font-size: 1em;
  // }



// @media only screen and (min-width: 769px) {
//
//   .header-container {
//     justify-content: center;
//     align-items: center;
//     // align-items: flex-start;
//     padding: 0;
//     // padding: 100px;
//   }
//
//   .title-one p {
//     font-size: 1em;
//     margin-bottom: 80px;
//   }
//
//   .sub-title-one p {
//     font-size: 1em;
//   }
//
//   .title-two p {
//     font-size: 1em;
//   }
//
//   .sub-title-two p {
//     font-size: 1em;
//   }
  // .title-one p {
  //   font-size: 3.75em;
  //   margin-left: 45px;
  // }
  //
  // .sub-title-one p {
  //   font-size: 2.5em;
  //   margin-left: 15px;
  // }
  //
  // .title-two p {
  //   font-size: 3.75em;
  //   margin-left: -15px;
  // }
  //
  // .sub-title-two p {
  //   font-size: 2.5em;
  //   margin-left: 38px;
  // }

// }

.text-shadow {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.text-float {
  text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
               0px 24px 2px rgba(0,0,0,0.1),
               0px 34px 30px rgba(0,0,0,0.1);
}
