.header-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  // opacity: 50%;
  padding: 25px;
  margin-top: 50px;
  color: #fff
}

// .hover-magic {
//   transition: 1s ease;
// }
//
// .hover-magic:hover {
//   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
// }

.title-one {
  font-family: 'Montserrat Extra Light', sans-serif;
  line-height:normal;
  font-size: 2.15em;
  margin: 0;
  padding: 0;
}

.sub-title-one {
  font-family: 'Montserrat Thin', sans-serif;
  line-height:normal;
  font-size: 1.25em;
  padding: 0;
}

.sub-title-one span {
  font-family: 'Montserrat Light', sans-serif;
}

.title-two {
  font-family: 'Montserrat Extra Light', sans-serif;
  line-height: normal;
  font-size: 1.95em;
  padding: 0px;
}

.sub-title-two {
  font-family: 'Montserrat Thin', sans-serif;
  line-height: normal;
  font-size: 1.25em;
  padding: 0px;
}

.sub-title-two span {
  font-family: 'Montserrat Light', sans-serif;
}

@media only screen and (min-width: 481px) {

  .title-one p {
    font-size: 2.5em;
    font-family: 'Montserrat Light', sans-serif;
  }

  .sub-title-one p {
    font-size: 2.25em;
  }

  .title-two p {
    font-size: 2.5em;
    font-family: 'Montserrat Light', sans-serif;
  }

  .sub-title-two p {
    font-size: 2.25em;
  }
}


@media only screen and (min-width: 769px) {

  .header-container {
    justify-content: center;
    align-items: center;
  }

  .title-one p {
    font-size: 3.75em;
  }

  .sub-title-one p {
    font-size: 2.5em;
  }

  .title-two p {
    font-size: 3.75em;
  }

  .sub-title-two p {
    font-size: 2.5em;
  }

}

.text-shadow {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.text-float {
  text-shadow: 0px 3px 0px #b2a98f,
               0px 14px 10px rgba(0,0,0,0.15),
               0px 24px 2px rgba(0,0,0,0.1),
               0px 34px 30px rgba(0,0,0,0.1);
}
