.media-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 50px;
  // margin: 20px;
  // padding: 10px;
}

.media-menu {
  // position: relative;
  display: block;
  font-size: .75em;
  font-family: 'Montserrat-Regular';
  // padding: 20px 20px;
  margin: 0px;
  /*border: 3px solid #fff;*/
  transition: all 0.2s ease 0s;
  cursor: pointer;
  margin: 10px 0 10px 50px;
}

.media-menu:hover {
  color: lightgray;
  transition: all 0.2s ease 0s;
}

ul {
  padding: 0px;
  margin: 0px;
}
