.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  // margin: 20px 20px 0px 0px;
  // padding: 10px;
}

.nav-style {
  font-size: 1em;
  font-family: 'futura';
  color: #0c566f;
  font-weight: bolder
}

.nav-menu {
  position: relative;
  display: block;
  font-family: monospace;
  font-size: 1em;
  padding: 20px 20px;
  /*border: 3px solid #fff;*/
  transition: all 0.2s ease 0s;
}

.nav-menu:hover {
  background-color: #fff;
  color: #00c3ff;
}

// #hire-josh {
//   background-color: slategray;
// }

// #hire-josh:hover {
//   background-color: #fff;
// }

a {
	text-decoration: none;
	color: unset;
}

ul {
  list-style-type: none;
  list-style: none;
}
