.navbar-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  background-color: #fff;
  border-width: 0px;
  padding: 12px;
}
