.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  margin: 20px 20px 0px 0px;
  padding: 10px;
  /*border: 3px solid #fff;*/
}

.nav-style {
  font-size: 0.90em;
  font-family: 'futura';
  color: #fff;
}

.nav-menu {
  position: relative;
  display: block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1em;
  padding: 20px 20px;
  /*border: 3px solid #fff;*/
  transition: all 0.2s ease 0s;
}

.nav-menu:hover {
  background-color: #fff;
  color: #777777;
  // opacity: 0.8;
}

#hire-josh {
  background-color: slategray;
}

#hire-josh:hover {
  background-color: #fff;
}

a {
	text-decoration: none;
	color: unset;
}

ul {
  list-style-type: none;
  list-style: none;
}
