.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100vw;
  background-color: #ecf5ff;
  // background-color: #d9ecff;
  // background-color: #EAEFF5;.......
  // background-color: #f0f0f0;
  padding: 5em 0em 5em 0em;
}
