.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  background-color: darkslategray;
  padding: 5em 0em 5em 0em;
}
