.resume-bar-wrapper {
  // box-shadow: 10px 10px 10px rgba(0,0,0,0.9);
}

.resume-bar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 50px;
  // background-image: linear-gradient(to right, rgba(23,181,255,.8),rgba(0,0,255,.7));
  background-image: linear-gradient(to right, rgba(23,181,255,.8), yellow);
}

.resume-bar-text {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  // margin-bottom: 20px;
  color: rgb(100,100,100);
  // color: rgb(75,75,125);
  margin-bottom: 20px;
}

.resume-bar-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  // margin-left: 50px;
}

.resume-button_resume-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 44px;
  // line-height: 44px;
  background: #ffae19;
  display: block;
  // display: inline-block;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.70em;
  letter-spacing: 1px;
  margin: 0 15px 20px 15px;
  transition: all .2s ease-in-out;
  curser: pointer;
  border: none;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  padding-left: 5px;
}

.portfolio-button_resume-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 44px;
  // line-height: 44px;
  // background: none;
  background: rgb(23,181,255);
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.70em;
  letter-spacing: 1px;
  margin: 0 15px;
  transition: all .2s ease-in-out;
  curser: pointer;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  padding-left: 5px;
}

a .portfolio-button_resume-bar, .resume-button_resume-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 410px) {

  .resume-button_resume-bar {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1100px) {

  .resume-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    // background-image: linear-gradient(to right, rgba(23,181,255,.8),rgba(0,0,255,.7));
    background-image: linear-gradient(to right, rgba(23,181,255,.8), yellow);
  }
  .resume-bar-text {
    margin-bottom: 0;
  }
  .resume-bar-buttons {
    margin-left: 40px;
  }
}
