.wwd_container {
  height: auto;
  padding: 50px 30px 30px 30px;
  background-color: #fff;
}

.wwd_header_container {
  width: auto;
  height: auto;
  padding: 15px;
}

.wwd_header {
  font-size: 2.25em;
  font-family: 'Montserrat Bold', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wwd_header-sub {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  margin-bottom: 20px;
  color: rgb(100,100,100);
}

.wwd_services_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: 0;
}

.wwd_service {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  // width: auto;
  margin: 20px 20px 40px 20px;
}

.wwd_services_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
  text-align: center;
  color: #545454;
  width: 250px;
  font-size: 1em;
  line-height: 1.8;
  font-family: 'Montserrat Light', sans-serif;
}

.wwd-img {
  height: 145px;
  width: auto;
  padding: 10px;
  align-items: center;
  margin: 15px 10px 10px 10px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  background-color: #ededed;
}

.wwd-img:hover {

  // box-shadow: none;
  box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.5);

  // box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 768px) {

  .wwd_container {
    padding: 100px 30px 70px 30px;
  }

  .wwd_services_content {
    font-size: 1em;
    line-height: 1.4;
    width: 300px;
  }
}
