* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a:link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.about-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw; }

.about_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: auto;
  width: 100%;
  padding: 50px 30px 65px 30px; }

.about_header_container {
  width: auto;
  height: auto;
  padding: 0px 25px 0px 25px;
  margin-bottom: 30px; }

.about_header {
  font-size: 2.25em;
  font-family: 'Montserrat Bold', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #000; }

.about_header-sub {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  margin-bottom: 20px;
  color: #646464; }

.about_img {
  height: auto;
  width: 70%;
  max-width: 300px;
  margin: 0 0 50px 0;
  padding: 0;
  align-items: center;
  box-shadow: -1px 6px 15px rgba(0, 0, 0, 0.4); }

.about-stack {
  font-size: 1em;
  font-family: 'Montserrat Bold', sans-serif;
  color: #646464; }

.about_main_content {
  color: #278aad;
  line-height: 1.5;
  font-size: .95em;
  font-family: 'Montserrat Light', sans-serif;
  margin-top: 15px; }

.about_img-content_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: auto; }

.about_content_wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  color: #545454;
  width: auto;
  font-size: .85em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8; }

@media only screen and (min-width: 481px) {
  .about_img {
    max-width: 500px; }

  .about_container {
    padding: 100px 30px 65px 30px; }

  .about_content_wrapper {
    width: 100%;
    max-width: 500px; } }
@media only screen and (min-width: 769px) {
  .about_header-sub {
    margin-bottom: 50px; } }
@media only screen and (min-width: 1025px) {
  .about_img {
    height: auto;
    width: 350px; }

  .about_img-content_container {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; }

  .about_content_wrapper {
    width: 400px;
    margin: 0;
    padding: 0;
    margin-left: 50px; } }
.button {
  width: 175px;
  height: 44px;
  line-height: 44px;
  background: #5D5DFF;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.70em;
  letter-spacing: 1px;
  margin-top: 30px;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.button:hover {
  background: #6d6dff; }

.hero-banner {
  background: url(../images/banner/dark-ice.jpg);
  height: 100vh;
  width: auto;
  z-index: 99;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.banner-gradient {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: linear-gradient(to right, rgba(23, 181, 255, 0.8), rgba(0, 0, 255, 0.7)); }

.bio-content {
  height: 300px;
  width: 300px;
  margin-left: 30px;
  /*border: 1px solid #d3d3d3;*/
  /*padding: 20px 50px 20px 50px;*/ }

.bio-content p {
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: darkslategray;
  /*color: #f6f6f6;*/ }

.bio-content span {
  color: gray; }

.profile-image {
  height: 300px;
  width: auto;
  margin: 0 1.20em 0 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset; }

.bio-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 600px;
  width: 100vw;
  /*background-color: #ABABAB;*/
  /*background-color: #e7f5fe;*/
  /*background-color: #E4E4E4;*/ }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start; }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  width: 300px;
  border-radius: 10px;
  margin: 30px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }

.card-img {
  height: 100%;
  width: 100%;
  display: block;
  vertical-align: middle;
  border-style: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

.card-header {
  color: #646464;
  line-height: 1;
  font-size: .85em;
  font-family: 'Montserrat Bold', sans-serif;
  margin-bottom: 5px; }

.card-content-wrapper {
  margin: 25px 15px; }

.card-content {
  color: #778899;
  line-height: 1.2;
  font-size: .85em;
  font-family: 'Montserrat Light', sans-serif;
  padding: 0; }

.card-content span {
  font-family: 'Montserrat Bold', sans-serif; }

.who-content {
  margin-bottom: 20px; }

.view-project-link-container {
  background-color: #5D5DFF;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }

.view-project-link-container:hover {
  background-color: #6d6dff; }

.view-project-link {
  color: #fff;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 0.85em;
  letter-spacing: 1px;
  transition: all .2s ease-in-out;
  padding: 20px;
  text-align: right; }

.contact-wrapper {
  background-color: #00F7EF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100vw; }

.contact_header_container {
  width: auto;
  height: auto;
  padding: 0px 25px 0px 25px;
  margin-bottom: 80px; }

.contact_header {
  font-size: 2.25em;
  font-family: 'Montserrat Bold', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #40A8E6; }

.contact_header-sub {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  margin-bottom: 20px;
  color: #05C0B2; }

.design-wrapper {
  width: 100wv;
  background-color: #ffffff;
  height: auto; }

@font-face {
  font-family: 'Montserrat Thin';
  src: url(../fonts/Montserrat/Montserrat-Thin.otf); }
@font-face {
  font-family: 'Montserrat Extra Light';
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.otf); }
@font-face {
  font-family: 'Montserrat Light';
  src: url(../fonts/Montserrat/Montserrat-Light.otf); }
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.otf); }
@font-face {
  font-family: 'Montserrat Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.otf); }
@font-face {
  font-family: 'Montserrat Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.otf); }
@font-face {
  font-family: 'Montserrat Alternates Thin';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Thin.otf); }
@font-face {
  font-family: 'Montserrat Alternates Light';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Light.otf); }
@font-face {
  font-family: 'Montserrat Alternates Extra Light';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-ExtraLight.otf); }
@font-face {
  font-family: 'Montserrat Alternates';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Regular.otf); }
@font-face {
  font-family: 'Montserrat Alternates Bold';
  src: url(../fonts/MontserratAlternates/MontserratAlternates-Bold.otf); }
@font-face {
  font-family: 'Julius Sans One';
  src: url(../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf); }
@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf); }
@font-face {
  font-family: 'Josefin Sans Italic';
  src: url(../fonts/Josefin_Sans/JosefinSans-Italic.ttf); }
@font-face {
  font-family: 'Josefin Sans Bold';
  src: url(../fonts/Josefin_Sans/JosefinSans-Bold.ttf); }
@font-face {
  font-family: 'Poller One';
  src: url(../fonts/Poller_One/PollerOne.ttf); }
/*==== BANNER FONTS ====*/
@font-face {
  font-family: 'Agent';
  src: url(../fonts/Agent_Mac.ttf); }
@font-face {
  font-family: 'Azedo Bold';
  src: url(../fonts/Azedo-Bold.otf); }
@font-face {
  font-family: 'Azedo Light';
  src: url(../fonts/Azedo-Light.otf); }
@font-face {
  font-family: 'College Stencil';
  src: url(../fonts/College_Stencil.ttf); }
@font-face {
  font-family: 'Sue Ellen Francisco';
  src: url(../fonts/SueEllenFrancisco.ttf); }
.footer-wrapper {
  background-color: #0A52C5; }

.footer-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /*padding: 5em 5em;*/
  height: 200px;
  color: #fff;
  margin: 0px;
  padding: 25px; }

.footer-logo {
  height: 55px;
  width: auto;
  margin-bottom: 30px; }

.copy {
  margin: 0px;
  padding: 20px;
  font-size: .65em;
  font-family: 'Montserrat Thin';
  color: #fff;
  text-align: center;
  background-color: #0A52C5;
  border-top: 1px solid #e5e5e5; }

.logo-container {
  padding: 0;
  margin: 0; }

@media only screen and (min-width: 768px) {
  .footer-container {
    padding-top: 125px;
    padding-bottom: 125px; }

  .copy {
    font-size: .75em; } }
#project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 500px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: blue;
  width: 100vw;
  height: 500px;
  margin-bottom: 50px; }

.proj-1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: orange; }

.proj-2 {
  grid-area: 3 / 5 / 4 / 6;
  background-color: black; }

.proj-3 {
  grid-area: 1 / 3 / 4 / 4;
  background-color: red; }

.header-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100vw;
  height: 100%; }

.title-one {
  font-size: 1.25em;
  font-family: 'Montserrat Alternates Thin', sans-serif;
  line-height: normal;
  padding: 0;
  text-align: center; }

.title-one p span {
  font-family: 'Montserrat Alternates Light', sans-serif; }

.title-two {
  font-size: 1.25em;
  font-family: 'Montserrat Alternates Thin', sans-serif;
  line-height: normal;
  padding: 0;
  text-align: center; }

.title-two p span {
  font-family: 'Montserrat Alternates Light', sans-serif; }

.down-arrow {
  width: 50px;
  height: 50px; }

@media only screen and (min-width: 481px) {
  .title-one {
    font-size: 2.25em; }

  .title-two {
    font-size: 2.25em; } }
@media only screen and (min-width: 1125px) {
  .title-one {
    font-size: 2.75em; }

  .title-two {
    font-size: 2.75em; } }
.text-shadow {
  text-shadow: 2px 3px 12px rgba(0, 0, 0, 0.3); }

.text-float {
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1); }

.media-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 50px; }

.media-menu {
  display: inline-block;
  font-size: .65em;
  font-family: 'Montserrat Thin';
  margin: 0px 10px 0px 10px;
  /*border: 3px solid #fff;*/
  transition: all 0.2s ease 0s;
  cursor: pointer;
  margin-bottom: 10px; }

.media-menu:hover {
  color: lightgray;
  transition: all 0.2s ease 0s; }

ul {
  padding: 0px;
  margin: 0px; }

@media only screen and (min-width: 414px) {
  .media-menu {
    font-size: .85em; } }
.logo-img {
  height: 35px;
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 768px) {
  .logo-img {
    height: 45px; } }
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  display: none; }

.nav-style {
  font-weight: bolder; }

.nav-menu {
  position: relative;
  font-size: .85em;
  font-family: 'Montserrat Light', sans-serif;
  padding: 20px 20px;
  /*border: 3px solid #fff;*/
  transition: all 0.2s ease 0s;
  color: #fff; }

.nav-menu:hover {
  color: #e6e6e6; }

.mobile-menu-icon {
  height: 36px;
  width: auto;
  display: block; }

a {
  text-decoration: none;
  color: unset; }

ul {
  list-style-type: none;
  list-style: none; }

.more {
  color: gray; }

@media only screen and (min-width: 769px) {
  .mobile-menu-icon {
    display: none; }

  .menu {
    display: inline-block; }

  .nav-menu {
    display: inline-block; } }
.navbar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  height: 75px;
  width: 100vw;
  background-color: none;
  border-width: 0px;
  position: fixed;
  transition: 0.25s ease-in-out;
  padding: 25px; }

@media only screen and (min-width: 481px) {
  .navbar-wrapper {
    padding: 0 20px;
    height: 75px; } }
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.personal_projects_container {
  height: auto;
  padding: 50px 30px 30px 30px; }

.personal_projects_header_container {
  width: auto;
  height: auto;
  padding: 15px; }

.personal_projects_header {
  font-size: 2.25em;
  font-family: 'Montserrat Bold', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px; }

.personal_projects_header-sub {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  margin-bottom: 20px;
  color: #4b4b4b; }

.personal_projects_services_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: 0; }

.personal_projects_service {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 40px 20px; }

.personal_projects_services_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
  text-align: center;
  color: #545454;
  width: 250px;
  font-size: 1em;
  line-height: 1.8;
  font-family: 'Montserrat Light', sans-serif; }

.personal_projects_services_content .tech-stack {
  font-size: .85em;
  color: #323232; }

.personal_projects-img {
  height: auto;
  width: 215px;
  align-items: center;
  margin: 15px 10px 10px 10px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  background-color: #ededed; }

.personal_projects-img:hover {
  box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 769px) {
  .personal_projects_container {
    padding: 100px 30px 70px 30px; }

  .personal_projects_services_content {
    font-size: 1em;
    line-height: 1.4;
    width: 300px; } }
.portfolio-logos-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100wv; }

.logos {
  width: auto;
  height: 70px;
  margin: 50px; }

.recent_work_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ecf5ff;
  height: auto;
  width: 100%;
  padding: 50px 30px 65px 30px; }

.divider {
  margin: 1em 0;
  padding: 0;
  width: 90vw;
  border-bottom: 1px solid #d2d2ff; }

.recent_work_header_container {
  width: 100%;
  height: auto;
  padding: 15px; }

.recent_work_header {
  font-size: 2.25em;
  font-family: 'Montserrat Bold', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #000; }

.recent_work_header-sub {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  color: #646464;
  color: #4b4b7d; }

.recent_work_services_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: auto; }

.recent_work_service {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto; }

.recent_work_services_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  color: #545454;
  width: auto;
  font-size: .85em;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8; }

.recent_work_img {
  height: auto;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
  box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.4);
  transition: 0.2s; }

.recent_work_img:hover {
  box-shadow: -1px 6px 15px rgba(0, 0, 0, 0.4); }

.content-header {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 15px; }

.tech-stack {
  font-size: .85em;
  font-family: 'Montserrat Bold', sans-serif;
  color: #278aad;
  margin-bottom: 25px; }

.recent_work_main_content {
  color: #3badd6;
  line-height: 1.5;
  font-size: .95em;
  font-family: 'Montserrat Light', sans-serif; }

.item-1 {
  margin-bottom: 50px; }

.item-2 {
  margin-top: 50px;
  margin-bottom: 50px; }

.item-3 {
  margin-top: 50px; }

.all-caps {
  text-transform: uppercase; }

.align {
  text-align: left; }

.mobile-width {
  width: inherit; }

@media only screen and (min-width: 481px) {
  .recent_work_container {
    padding: 100px 30px 100px 30px;
    align-items: center; }

  .recent_work_services_content {
    width: 100%;
    max-width: 500px; }

  .content-header {
    font-size: 2em; }

  .tech-stack {
    font-size: .90em; }

  .recent_work_main_content {
    font-size: 1em; } }
@media only screen and (min-width: 600px) {
  .recent_work_img {
    width: 500px;
    margin-bottom: 55px; } }
@media only screen and (min-width: 1126px) {
  .recent_work_container {
    padding: 90px auto 70px auto;
    align-items: center; }

  .recent_work_services_container {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1050px; }

  .recent_work_services_content {
    width: 400px;
    margin: 0;
    padding: 0; }

  .align {
    text-align: left; }

  .recent_work_img {
    width: 550px; }

  .crypto-img {
    order: 1; }

  .crypto-content {
    order: 0; }

  .item-2 {
    margin-top: 100px; }

  .item-3 {
    margin-top: 100px; }

  .recent_work_container {
    padding-bottom: 15px; } }
.testimonials_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 120px 30px 120px 30px;
  background-image: url(../images/tokyo.jpg);
  height: auto;
  width: auto;
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.testimonials-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto; }

.testimonials_header_container {
  width: auto;
  height: auto;
  padding: 0px 25px 0px 25px;
  margin-bottom: 40px; }

.testimonials_header {
  font-size: 2.25em;
  font-family: 'Montserrat Bold', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #fff; }

.testimonials_header-sub {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  margin-bottom: 20px;
  color: #dfdfdf; }

.testimonials-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: auto;
  font-family: 'Josefin Sans Italic', sans-serif;
  font-size: 1em;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -1px 5px 19px rgba(0, 0, 0, 0.6);
  margin: 30px; }

.testimonial-ce-img {
  height: auto;
  width: 60%;
  margin-bottom: 25px; }

.testimonial-dvi-img {
  height: auto;
  width: 60%;
  margin-bottom: 25px;
  border-radius: 7px; }

.testimonials-content p:nth-child(2) {
  margin-bottom: 20px;
  align-self: flex-start; }

.testimonials-content p:nth-child(3) {
  font-size: .90em;
  font-family: 'Josefin Sans', sans-serif;
  align-self: flex-start; }

.testimonials-content p:nth-child(4) {
  font-size: .90em;
  font-family: 'Josefin Sans Bold', sans-serif;
  align-self: flex-start; }

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite; }

@keyframes typedjsBlink {
  50% {
    opacity: 0.0; } }
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }
.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0; }

.typed-text {
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5); }

.wwd_container {
  height: auto;
  padding: 50px 30px 30px 30px;
  background-color: #fff; }

.wwd_header_container {
  width: auto;
  height: auto;
  padding: 15px; }

.wwd_header {
  font-size: 2.25em;
  font-family: 'Montserrat Bold', sans-serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px; }

.wwd_header-sub {
  text-align: center;
  font-family: 'Montserrat Light', sans-serif;
  font-size: 1.45em;
  margin-bottom: 20px;
  color: #646464; }

.wwd_services_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: 0; }

.wwd_service {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 40px 20px; }

.wwd_services_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
  text-align: center;
  color: #545454;
  width: 250px;
  font-size: 1em;
  line-height: 1.8;
  font-family: 'Montserrat Light', sans-serif; }

.wwd-img {
  height: 145px;
  width: auto;
  padding: 10px;
  align-items: center;
  margin: 15px 10px 10px 10px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  background-color: #ededed; }

.wwd-img:hover {
  box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 768px) {
  .wwd_container {
    padding: 100px 30px 70px 30px; }

  .wwd_services_content {
    font-size: 1em;
    line-height: 1.4;
    width: 300px; } }

/*# sourceMappingURL=main.css.map */
